<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Biking Roads Explorer</title>
    <!-- Viewport Meta Tag for Responsive Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <!-- Add Vueform Slider CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@vueform/slider@2.1.10/themes/default.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="app">
    <!-- Filter Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">Best Biking Roads Explorer</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="filtersDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Filters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="filtersDropdown">
                        <button class="dropdown-item" @click="openModal('country')">
                            Select Country
                        </button>
                        <button class="dropdown-item" @click="openModal('roadType')">
                            Select Road Type
                        </button>
                        <button class="dropdown-item" @click="openModal('rating')">
                            Select Rating
                        </button>
                    </div>
                </li>
            </ul>
            <button class="btn btn-success my-2 my-sm-0" @click="exportToGPX">
                Export to GPX
            </button>
        </div>
    </nav>
    <!-- Map Section -->
    <div class="map-container" id="map"></div>

    <!-- Filter Modal -->
    <div :class="['modal-overlay', { visible: showModal }]" @click.self="closeModal">
        <div class="modal-content">
            <div class="modal-header">
                <h5>{{ getModalTitle }}</h5>
                <button @click="closeModal" aria-label="Close Modal" class="close-button">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Rating Filter with Vueform Slider -->
                <div v-if="modalType === 'rating'">
                    <Slider
                            v-model="tempRatingRange"
                            :min="1"
                            :max="5"
                            :step="0.1"
                            :range="true"
                            :format="{ decimals: 1 }"
                            label="Rating Range"
                    ></Slider>
                </div>
                <!-- Other Filters with Checkboxes -->
                <div v-else>
                    <div class="search-bar mb-3">
                        <input type="text" v-model="searchQuery" :placeholder="'Search ' + getModalTitle" class="form-control" />
                    </div>
                    <div class="filter-options" style="max-height: 300px; overflow-y: auto;">
                        <div v-for="option in filteredModalOptions" :key="option" class="form-check">
                            <input
                                    type="checkbox"
                                    :id="option"
                                    :value="option"
                                    v-model="tempSelectedValues"
                                    class="form-check-input"
                            />
                            <label :for="option" class="form-check-label">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-actions">
                <!-- Conditional Rendering of Buttons -->
                <template v-if="modalType === 'rating'">
                    <button
                            class="btn btn-secondary"
                            @click="resetRatingRange"
                    >
                        Reset Range
                    </button>
                </template>
                <template v-else>
                    <button
                            class="btn btn-secondary"
                            @click="selectAllModalSelection"
                    >
                        Select All
                    </button>
                    <button
                            class="btn btn-warning"
                            @click="clearModalSelection"
                    >
                        Clear
                    </button>
                </template>
                <button class="btn btn-primary" @click="applyModalSelection">Apply</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<!-- Polyline Decoding Library -->
<script src="https://unpkg.com/@mapbox/polyline@1.2.1/src/polyline.js"></script>
<!-- Vue.js -->
<script src="https://unpkg.com/vue@3.5.13/dist/vue.global.js"></script>
<!-- Add Vueform Slider JS -->
<script src="https://unpkg.com/@vueform/slider@2.1.10/dist/slider.global.js"></script>
<!-- Constants JS -->
<script src="js/constants.js"></script>
<!-- GPX Export JS -->
<script src="js/gpxExport.js"></script>
<!-- Main Vue App -->
<script src="js/app.js"></script>
</body>
</html>